.container{
    background-color: yellowgreen;
}

.box{
    background-color: red;
    /* width of the box */
    width: 250px;
    /* height of the box */
    height: 250px;
    /* positioning  of the box */
    position: relative;
    /* animation name whatever you can have */
    animation-name: nawazdanish;
    /* duration of the keyframe */
    animation-duration: 5s;
    /* Number of time will run */
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    animation-timing-function: ease-in-out;
    /* to delay the animation */
    /* animation-delay: 1s; */
    /* to change the direction o fanimation */
    animation-direction: reverse;
}

@keyframes nawazdanish{
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 250px;
        left: 0px;
    }
    75%{
        top: 250px;
        left: 250px;
    }
    100%{
        top: 0px;
        left: 250px;
        border-radius: 50px;
        text-align: center;
        color: white;
        padding: 50px;
    }
}