.container{
    background-color: yellowgreen;
}

.box{
    background-color: red;
    /* width of the box */
    width: 250px;
    /* height of the box */
    height: 250px;
    /* positioning  of the box */
    position: relative;
    /* animation name whatever you can have */
    animation-name: nawaz;
    /* duration of the keyframe */
    animation-duration: 5s;
    /* Number of time will run */
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    animation-timing-function: ease-in-out;
    /* to delay the animation */
    animation-delay: 3s;
    /* to change the direction o fanimation */
    animation-direction: reverse;
}

@keyframes nawaz{
    /* start will from 200px */
    from{
        width: 200px;
    }
    /* and end will be 600px */
    to{
        width:600px;
    }
}